.App {
  text-align: center;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  font-family: "Times New Roman";
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}
.tab-list-active {
  background-color: #EFE7F7;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 3px;
  font-family: "Times New Roman";

}

.footer {
  background-color: #EFE7F7;
  font-size: 12px;
  border-radius: 3px;
  font-family: "Times New Roman";
}
.quiz {
  font-size: 18px;
  border-radius: 3px;
  padding-bottom: 15px;
  font-family: "Times New Roman";
}

.body-text {
  font-size: 18px;
  border-radius: 3px;
  padding-bottom: 15px;
  font-family: "Times New Roman";
}

.image {
  padding-bottom: 15px;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  border-radius: 5px;
  padding: 15px 32px;
  text-decoration: none;
  font-family: "Times New Roman";
  font-size: 14px;
  color: initial;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
div {
  margin-right: 50px;
  margin-left: 50px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
