.App {
  text-align: center;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.quizHeader {
  font-family: "Times New Roman";
  font-size: 20px;
  margin-right: -720px;
}

.question {
  margin-right: -40px;
  margin-top: -13px;
  margin-left: 5px;
  background-color: #EFE7F7;
  font-family: "Times New Roman";
  font-size: 18px;
  border-radius: 5px;
}

.innerQuestion {
  background-color: #EFE7F7;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  font-family: "Times New Roman";
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  width: 430px;
  height: 28px;
}

.answer {
  background-color: #EFE7F7;
  margin-top: 25px;
  width: 300px;
  font-family: "Times New Roman";
  font-size: 18px;
  margin-left: 50px;
  width: 250px;
  border-radius: 5px;

}

.innerAnswer {
  background-color: #EFE7F7;
  padding-bottom: 10px;
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  margin-right: -159px;
  font-family: "Times New Roman";
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;


}

.quizImage {
  margin-right: 5px;
  margin-top: 5px;
  z-index: -1;
  padding-bottom: 145px;
  padding-top: 20px;
}

.nextButton {
    background-color: #EFE7F7;
    border-color: #EFE7F7;
    margin-top: 30px;
    margin-right: -200px;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 5px;
    text-decoration: none;
    font-family: "Times New Roman";
    font-size: 16px;
    height: 35px;
}


.tab-list-item {
  display: inline-block;
  list-style: none;
  font-family: "Times New Roman";
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}
.tab-list-active {
  background-color: #EFE7F7;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 3px;
  font-family: "Times New Roman";
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #EFE7F7;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: "Times New Roman";
}

.quiz {
  font-size: 18px;
  padding-bottom: 30px;
  font-family: "Times New Roman";
}

.body-text {
  font-size: 16px;
  border-radius: 3px;
  padding-bottom: 15px;
  width: 450px;
  margin: auto;
  text-align: center;
  font-family: "Times New Roman";
}

.homeText {
  width: 420px;
  margin-top: 50px;
}

.homeImage {
  margin-left: 20px;
}

.inline-page {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman";
  margin-left: 10px;
  margin-right: 10px
}

.home-inline-page {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman";
  margin-left: 10px;
  margin-right: 10px
}

.image {
  padding-bottom: 15px;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  border-radius: 5px;
  padding: 15px 32px;
  text-decoration: none;
  font-family: "Times New Roman";
  font-size: 14px;
  color: initial;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainContent {
  margin-right: 50px;
  margin-left: 50px;
  display: inline-block
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  /* CSS styles for smaller screens */
  .home-inline-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Times New Roman";
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px
  }

  .homeImage {
    margin-left: 0px;
  }


  .shoe {
    break-after: always;
  }

}